.herz {
  position: relative;
  width: 100px;
  height: 90px;
}
.herz::before,
.herz::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50px 50px 0 0;
}
.herz::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.herz::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
